@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {


    0% {
        top: 0%;
        left: 0%;
    }

    45% {
        top: 80%;
        left: 30%;
    }

    55% {
        top: 80%;
        left: 60%;
    }

    100% {
        top: 0%;
        left: 100%;
        display: none;
    }
}

.animate-emojiMoving {
    animation: bounce 2s;
    background-color: rgba(255, 255, 255, 0);
}

@keyframes bounce {


    0% {
        opacity: 0;

    }


    100% {
        opacity: 1;

    }
}

.SkilsItem {
    animation: bounce 2s;
    opacity: 1;
}