@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounce {


    0% {
        top: 0%;
        left: 0%;
    }

    45% {
        top: 80%;
        left: 30%;
    }

    55% {
        top: 80%;
        left: 60%;
    }

    100% {
        top: 0%;
        left: 100%;
        display: none;
    }
}

.animate-emojiMoving {
    animation: bounce 2s;
}